body {
  margin: 0;
  background: rgba(222, 231, 255, 0.3333333333);
  font-size: 18px;
  height: 100vh;
}

.container {
  margin: 1em;
  background: #ffffff;
  border-radius: 1em;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1333333333);
}
.container .left {
  margin: 1em;
}
.container .left .logo {
  margin: 0.5em 0;
  width: 120px;
}
.container .left .user {
  border-radius: 1em;
  background: rgba(222, 231, 255, 0.4666666667);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1333333333);
  padding: 0.5em;
  text-align: center;
}
.container .left .user .me {
  margin-top: 1em;
  border-radius: 50%;
}
.container .left .user .name {
  font-weight: bold;
}
.container .left .user .name button {
  margin: 0 0.5em;
  color: black;
  background: rgba(222, 231, 255, 0);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.container .left .user .desc {
  font-size: 16px;
  color: #7e7e7e;
}
.container .left .user .status {
  font-size: 12px;
  color: #7e7e7e;
}
.container .left .user .status button {
  margin: 0 0.5em;
  color: green;
  background: green;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.container .left .user .status button.red {
  color: red;
  background: red;
}
.container .left .active .dropdown-toggle {
  margin-left: 5px;
  border: none;
  background: none;
  cursor: pointer;
}
.container .left .active .dropdown-toggle.opened::after {
  transform: rotate(180deg);
}
.container .left .active .dropdown-toggle::after {
  transition: transform 0.3s ease;
}
.container .left .active .dropdown-list {
  text-align: center;
  display: none;
  margin-top: 5px;
}
.container .left .active .dropdown-list.show {
  display: block;
}
.container .left .active .dropdown-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.container .left .active .dropdown-list li {
  padding: 5px;
  cursor: pointer;
}
.container .left .active .dropdown-list li:hover {
  background: #f2f2f2;
}
.container .left .archived .dropdown-toggle {
  margin-left: 5px;
  border: none;
  background: none;
  cursor: pointer;
}
.container .left .archived .dropdown-toggle.opened::after {
  transform: rotate(180deg);
}
.container .left .archived .dropdown-toggle::after {
  transition: transform 0.3s ease;
}
.container .left .archived .dropdown-list {
  text-align: center;
  display: none;
  margin-top: 5px;
}
.container .left .archived .dropdown-list.show {
  display: block;
}
.container .left .archived .dropdown-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.container .left .archived .dropdown-list li {
  padding: 5px;
  cursor: pointer;
}
.container .left .archived .dropdown-list li:hover {
  background: #f2f2f2;
}
.container .mid {
  margin: 1em 0 1em;
  border-radius: 1em;
  background: rgba(222, 231, 255, 0.4666666667);
}
.container .mid .conversation {
  margin: 1em 0.5em;
  display: flex;
  flex-direction: column-reverse;
  height: 75vh;
  overflow-y: auto;
  overscroll-behavior-y: contain;
}
.container .mid .conversation .messages {
  display: flex;
  flex-direction: column-reverse;
}
.container .mid .conversation .messages .in {
  display: inline-block;
  max-width: 65%;
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
  border-radius: 1em;
  background: rgba(255, 255, 255, 0.8156862745);
  color: black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1333333333);
  padding: 0 0.5em;
  margin: 5px 0;
}
.container .mid .conversation .messages .out {
  display: inline-block;
  max-width: 65%;
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
  border-radius: 1em;
  background: #202020;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1333333333);
  padding: 0 0.5em;
  margin: 5px 0 5px auto;
}
.container .mid .message {
  background: rgba(255, 255, 255, 0.6588235294);
  padding: 0.6em 0.2em;
  margin: 1em 0.5em;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1333333333);
}
.container .mid .message input, .container .mid .message button {
  padding: 0.8em;
  margin: 0.2em 0.4em;
}
.container .mid .message input {
  width: calc(100% - 12em);
  border: 1px outset rgba(0, 0, 0, 0.2666666667);
}
.container .mid .message button {
  background: #1234dd;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.container .mid .message .attach {
  background: none;
  color: grey;
  border-radius: 10px;
  border: none;
}
.container .right {
  margin: 1em;
  text-align: center;
}
.container .right .current {
  border-radius: 1em;
  background: rgba(222, 231, 255, 0.4666666667);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1333333333);
  padding: 1em;
}
.container .right .current .avatar {
  margin-top: 1em;
  border-radius: 50%;
}
.container .right .current .content {
  text-align: left;
  margin: 0 3em;
}
.container .right .current .content .name {
  font-size: 16px;
  color: #7e7e7e;
}
.container .right .current .content .email {
  font-size: 16px;
  color: #7e7e7e;
}
.container .right .current button {
  background: white;
  color: #1234dd;
  border-radius: 10px;
  border: 1px solid #1234dd;
  padding: 0.5em;
}

@media only screen and (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
  }
}/*# sourceMappingURL=index.css.map */