
body {
    margin: 0;
    background: #dee7ff55;
    font-size: 18px;
    height: 100vh;

}

.container {
    margin: 1em;
    background: #ffffff;
    border-radius: 1em;
    box-shadow: 0 3px 12px #00000022;

    .left{
        margin: 1em;
        
        .logo{
            margin: .5em 0;
            width: 120px;
        }

        .user{
            border-radius: 1em;
            background: #dee7ff77;
            box-shadow: inset 0 0 4px #00000022;
            padding: .5em;
            text-align: center;
            
            .me{
                margin-top: 1em;
                border-radius: 50%;
            }
            .name{
                font-weight: bold;
                button{
                    margin: 0 .5em;
                    color: black;
                    background: #dee7ff00;
                    border-radius: 50%;
                    border: none;
                    cursor: pointer;
                }
            }
            .desc{
                font-size: 16px;
                color: #7e7e7e;
            }
            .status{
                font-size: 12px;
                color: #7e7e7e;
                button{
                    margin: 0 .5em;
                    color: green;
                    background: green;
                    border-radius: 50%;
                    border: none;
                    cursor: pointer;
                    &.red{
                        color: red;
                        background: red;
                    }
                }
            }
        }
        .active{
            .dropdown-toggle{
                margin-left: 5px;
                border: none;
                background: none;
                cursor: pointer;

                &.opened::after {
                    transform: rotate(180deg);
                }
                &::after {
                    transition: transform 0.3s ease;
                }
            }
            .dropdown-list {
                text-align: center;
                display: none;
                margin-top: 5px;
                &.show {
                    display: block;
                }
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                }
                li {
                    padding: 5px;
                    cursor: pointer;
                    &:hover {
                        background: #f2f2f2;
                    }
                  }

            }
        }
        .archived{
            .dropdown-toggle{
                margin-left: 5px;
                border: none;
                background: none;
                cursor: pointer;

                &.opened::after {
                    transform: rotate(180deg);
                }
                &::after {
                    transition: transform 0.3s ease;
                }
            }
            .dropdown-list {
                text-align: center;
                display: none;
                margin-top: 5px;
                &.show {
                    display: block;
                }
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                }
                li {
                    padding: 5px;
                    cursor: pointer;
                    &:hover {
                        background: #f2f2f2;
                    }
                  }

            }
        }
    }
    
    .mid{
        margin: 1em 0 1em;
        border-radius: 1em;
        background: #dee7ff77;
        
        .conversation{
            margin: 1em .5em;
            display:flex;
            flex-direction: column-reverse;
            height: 75vh;
            overflow-y:auto;
            overscroll-behavior-y: contain;
            .messages{
                display: flex;
                flex-direction: column-reverse;
                
                .in{
                    display: inline-block;
                    max-width: 65%;
                    width: fit-content;
                    text-align: left;
                    border-radius: 1em;
                    background: #ffffffd0;
                    color: black;
                    box-shadow: 0 0 5px #00000022;
                    padding: 0 .5em;
                    margin: 5px 0;
                }
                .out{
                    display: inline-block;
                    max-width: 65%;
                    width: fit-content;
                    text-align: right;
                    border-radius: 1em;
                    background: #202020;
                    color: white;
                    box-shadow: 0 0 5px #00000022;
                    padding: 0 .5em;
                    margin: 5px 0 5px auto;
                }
            }
        }
        .message{
            background: #ffffffa8;
            padding: .6em .2em;
            margin: 1em .5em;
            border-radius: 15px;
            box-shadow: 0 0 5px #00000022;

            input, button {
                padding: .8em;
                margin: .2em .4em;
            }
            input{
                width: calc(100% - 12em);
                border: 1px outset #00000044;
            }
            button{
                background: #1234dd;
                color: white;
                border-radius: 10px;
                border: none;
                cursor: pointer;
            }
            .attach{
                background: none;
                color: grey;
                border-radius: 10px;
                border: none;
            }
        }
    }

    .right{
        margin: 1em;
        text-align: center;

        .current{
            border-radius: 1em;
            background: #dee7ff77;
            box-shadow: inset 0 0 5px #00000022;
            padding: 1em;
            
            .avatar{
                margin-top: 1em;
                border-radius: 50%;
            }
            .content{
                text-align: left;
                margin: 0 3em;
                .name{
                    font-size: 16px;
                    color: #7e7e7e;
                }
                .email{
                    font-size: 16px;
                    color: #7e7e7e;
                }
            }
            button{
                background: white;
                color: #1234dd;
                border-radius: 10px;
                border: 1px solid #1234dd;
                padding: .5em;
            }
        }

    }
}

@media only screen and (min-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: 25% 50% 25%;
    }
}